{% extends "layout.html" %}
{% block title %}Tou Markdown Editor{% endblock %}
{% block body %}
  <div class="drop-screen">Drop file to edit.</div>
  <div class="controls">
    <div class="edit">
      <div class="icon save" title="Save"></div>
      <div class="icon open" title="Open"></div>
      {% if session['dropbox_access_token'] %}
      <a href="/logout">
        <div class="icon logout" title="Logout"></div>
      </a>
      {% else %}
      <a href="/link_dropbox">
        <div class="icon dropbox" title="Link to Dropbox"></div>
      </a>
      {% endif %}
    </div>
    <div class="dir">
      <div class="icon mkdir" title="New Folder"></div>
      <div class="icon touch" title="New File"></div>
      <div class="icon cancel" title="Cancel"></div>
    </div>
  </div>
  <div class="app">
    <div id="editor"></div>
    <div class="preview"></div>
  </div>
{% endblock %}
