<!doctype html>
<head>
  <title>Tou Markdown Editor</title>
  <link href="/static/stylesheets/styles.css" rel="stylesheet" type="text/css" />
  <script defer type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script defer type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.1/underscore-min.js"></script>
  <script defer type="text/javascript" src="/static/js/lib/require.js"></script>
  <script defer type="text/javascript" src="/static/js/bootstrap.js"></script>
  <script type="text/javascript">
    sessions = {
      dropbox: '{{ session['dropbox_access_token'] }}'
    }
  </script>
</head>
<body>
  <div class="drop-screen">Drop file to edit.</div>
  <div id="controls">
    <div class="edit">
      <div class="icon save" title="Save"></div>
      <div class="icon open" title="Open"></div>
    <div class="icon shortlink" title="Shortlink"></div>
    </div>
    <div class="dir">
      <div class="icon mkdir" title="New Folder"></div>
      <div class="icon touch" title="New File"></div>
      <div class="icon cancel" title="Cancel"></div>
    </div>

  </div>
  <div class="app">
    <div id="editor" class="pane"></div>
    <div id="preview" class="pane"></div>
  </div>
</body>
