<!doctype html>
<head>
  {% block title %}
  <title></title>
  {% endblock %}
  <style type="text/css">
    
.editor textarea {
  width: 500px;
  height: 500px;
  float: left;
}

.preview {
  width: 500px;
  height: 500px;
  float: right;
  border: 1px solid gray;
}

  </style>
</head>
<body>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/markdown.js"></script>
  <script type="text/javascript" src="/static/js/application.js"></script>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
