3<!doctype html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <style type="text/css">
    
.editor textarea {
  height: 100%;
  float: left;
}

.preview {
  width: 500px;
  height: 100%;
  float: right;
  border: 1px solid gray;
}

  </style>
</head>
<body>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/markdown.js"></script>
  <script type="text/javascript" src="/static/js/application.js"></script>
  {% block body %}{% endblock %}
</div>
